<!DOCTYPE html>
<html>
<head>
  <title>GaMarketeria</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>

<div class="container">	

	<%= yield %>

		<p>Copyright &copy 2014</p>
		<%= link_to "About", about_path %>
		<%= link_to "Contact", contact_path %>
</div>

</body>
</html>
